<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajax_Flask 專案</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>

    </style>
</head>

<body>
    {% include '_navbar.html' %}
    <div class="container">


        <div class="container mt-5">
            <!-- <div class="row justify-content-center"> -->
            <button id="buttonStart" class="btn btn-primary">Ajax 開始</button>
            <button id="buttonEnd" class="btn btn-primary">Ajax 結束</button>
            <img id="img1" src="static/images/Loading.gif" style="display: none;" alt="載入中..." />


            <div id="divInfo" class="alert alert-info mt-5"></div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        const divInfo = document.querySelector('#divInfo');
        const imgLoader = document.querySelector('#img1');
        const btnStart = document.querySelector('#buttonStart');
        const btnEnd = document.querySelector('#buttonEnd')

        let abortController = null;

        btnStart.addEventListener('click', async () => {
            const apiUrl = 'http://127.0.0.1:5000/api/hello';
            abortController = new AbortController();
            const signal = abortController.signal;
            //3秒內沒有執行就會錯誤
            const timer = setTimeout(() => {
                abortController.abort('api 執行逾時');
            }, 3000)
            try {
                //有可能發生錯誤
                //async await
                imgLoader.style.display = 'inline' //顯示執行中的圖示
                btnStart.disabled = true; //停用顯示按鈕
                // const response = await fetch(apiUrl);
                const response = await fetch(apiUrl, { signal });

                //先確認 ok 為 true
                if (!response.ok) throw new Error('有錯誤，無資料!!');

                const data = await response.json();
                divInfo.innerHTML = `<h2>${data.message}</h2>`;

            } catch (error) {
                // console.log(error);
                if (signal.aborted) { //true 表示取消了
                    divInfo.textContent = error;
                } else {
                    divInfo.textContent = error.message;
                }
            } finally {
                imgLoader.style.display = 'none' //隱藏執行中的圖示
                btnStart.disabled = false; //啟用顯示按鈕
                console.log('請求結束!!')
                clearTimeout(timer); //清除計時器
            }

        })

        btnEnd.addEventListener('click', () => {
            if (abortController) {
                abortController.abort('您停止了程式的執行'); //取消 fetch() 的執行
            }


        })





    </script>
</body>

</html>